{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/app.css' %}">
        <title>Receipts</title>
    </head>
    <body>
        <header>
            <h1>Receipts and Expenses</h1>
            <nav>
                <ul class="navigation">
                    {% if user.is_staff %}
                        <li class="nav-item">
                            <a href="{% url 'admin:index' %}">Admin</a>
                        </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a href="{% url 'create_expense_category' %}">Create Category</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'list_categories' %}">Expense Categories</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'create_receipt_account' %}">Create Account</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'account_list' %}">Accounts</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'create_receipt' %}">Create Receipt</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'home' %}">Receipts</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{% url 'signup' %}">Sign Up</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'login' %}">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        {% block content %}
        {% endblock content %}
    </body>
</html>
