{% extends 'base.html' %}
{% block content %}
    <table>
        <caption>
            <h3>Accounts List</h3>
        </caption>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Number of receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for account in account_list %}
                <tr>
                    <td>{{ account.name }}</td>
                    <th>{{ account.number }}</th>
                    <td>{{ account.receipts.all|length }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
