{% extends 'base.html' %}
{% block content %}
    <body>
        <h1>Create Expense Category</h1>
        <main>
            <form class="narrow-form" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Create Category</button>
            </form>
        </main>
    </body>
{% endblock content %}
