{% extends 'base.html' %}
{% block content %}
    <table>
        <caption>
            <h3>Expense Categories List</h3>
        </caption>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for expense in expensecategory_list %}
                <tr>
                    <td>{{ expense.name }}</td>
                    <td>{{ expense.receipts.all|length }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
