{% extends 'base.html' %}
{% block content %}
    <body>
        <main class="narrow-form">
            <h3>You are now logged out, we hope to see you soon!</h3>
        </main>
    </body>
{% endblock content %}
