{% extends 'base.html' %}
{% block content %}
    <body>
        <header>
            <h1>Login</h1>
        </header>
        <main>
            <form class="narrow-form" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Login</button>
            </form>
        </main>
    </body>
{% endblock content %}
