{% extends 'base.html' %}
{% load static %}
{% block content %}
    <table>
        <caption>
            <h3>Receipts List</h3>
        </caption>
        <thead>
            <tr>
                <th>Vendor</th>
                <th>Total</th>
                <th>Tax</th>
                <th>Date</th>
                <th>Category</th>
                <th>Account</th>
            </tr>
        </thead>
        <tbody>
            {% for receipt in receipt_list %}
                <tr>
                    <td>{{ receipt.vendor }}</td>
                    <td>{{ receipt.total }}</td>
                    <td>{{ receipt.tax }}</td>
                    <th>{{ receipt.date|date:"m-d-Y" }}</th>
                    <td>{{ receipt.category }}</td>
                    <td>{{ receipt.account }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
