html {
    background-color: aquamarine;
}

h1 {
    text-align: center;
}

table {
    border: 2px solid rgb(0, 0, 0);
    border-collapse: collapse;
    max-width: 800px;
    min-width: 400px;
    margin: auto;
}

th,
td {
    border: 1px solid rgb(185, 107, 120);
    padding: .5em;
}

.navigation {
    display: grid;
    grid-template-columns: repeat(8, auto);
    justify-content: center;
    list-style: none;
    margin: 3;
    padding: 0;
}


.nav-item {
    margin: 1em;
}

.narrow-form {
    border: 1px solid grey;
    max-width: 400px;
    margin: auto;
    padding: 2em;
}

.helptext {
    display: block;
    font-size: 80%;
}